war/BookingsAPIService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://soap.bookings.woodcraft.org.uk/" name="BookingsAPIService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.bookings.woodcraft.org.uk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xs:schema version="1.0" targetNamespace="http://soap.bookings.woodcraft.org.uk/" xmlns:tns="http://soap.bookings.woodcraft.org.uk/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="authenticate" type="tns:authenticate"/>

  <xs:element name="authenticateResponse" type="tns:authenticateResponse"/>

  <xs:element name="myVillageSignup" type="tns:myVillageSignup"/>

  <xs:element name="myVillageSignupResponse" type="tns:myVillageSignupResponse"/>

  <xs:complexType name="authenticate">
    <xs:sequence>
      <xs:element name="siteKey" type="xs:string" minOccurs="1"/>
      <xs:element name="username" type="xs:string" minOccurs="1"/>
      <xs:element name="password" type="xs:string" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="authenticateResponse">
    <xs:sequence>
      <xs:element name="success" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="myVillageSignup">
    <xs:sequence>
      <xs:element name="eventKey" type="xs:string" minOccurs="1"/>
      <xs:element name="userEmail" type="xs:string" minOccurs="1"/>
      <xs:element name="userKey" type="xs:string" minOccurs="1"/>
      <xs:element name="externalUsername" type="xs:string" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="myVillageSignupResponse">
    <xs:sequence>
      <xs:element name="result" type="tns:myVillageResponse" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="myVillageResponse">
    <xs:sequence>
      <xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
      <xs:element name="success" type="xs:boolean"/>
      <xs:element name="userName" type="xs:string" minOccurs="0"/>
      <xs:element name="villageKey" type="xs:string" minOccurs="0"/>
      <xs:element name="villageName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </types>
  <message name="authenticate">
    <part name="parameters" element="tns:authenticate"/>
  </message>
  <message name="authenticateResponse">
    <part name="parameters" element="tns:authenticateResponse"/>
  </message>
  <message name="myVillageSignup">
    <part name="parameters" element="tns:myVillageSignup"/>
  </message>
  <message name="myVillageSignupResponse">
    <part name="parameters" element="tns:myVillageSignupResponse"/>
  </message>
  <portType name="BookingsAPI">
    <operation name="authenticate">
      <input message="tns:authenticate"/>
      <output message="tns:authenticateResponse"/>
    </operation>
    <operation name="myVillageSignup">
      <input message="tns:myVillageSignup"/>
      <output message="tns:myVillageSignupResponse"/>
    </operation>
  </portType>
  <binding name="BookingsAPIPortBinding" type="tns:BookingsAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="authenticate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="myVillageSignup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="BookingsAPIService">
    <port name="BookingsAPIPort" binding="tns:BookingsAPIPortBinding">
      <!-- soap:address location="http://bookings.cocamp.coop/soapapi"/ -->
       <soap:address location="http://localhost:8888/soapapi"/>
    </port>
  </service>
</definitions>

